body {
    /* Thay đổi font ch */
    font-family: 'Roboto', sans-serif;
}


.container {
    width: 980px;
    margin: 0px auto;
}

/* CSS DÙNG CHUNG */
.header-logo {
    height: 70px;
}

.header-logo img {
    height: 100%;
}

.header {
    /* display: grid;
    grid-template-columns: 30% 70%; */
    /* display :  Dùng để cho các phần tử làm ngang */
    /* justify-content: space-between : Căn 2 phần tử ra 2 phía */
    /* align-items: center Căn giữa theo chiều dọc */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ten-class-ul {
    /* Bỏ dấu chấm ở danh sách */
    list-style-type: none;
    display: flex;
}

.ten-li {
    margin-top: 10px;
}

.ten-li a {
    padding: 0px 20px;
    /*  text-decoration : Bỏ dấu gạch chân */
    text-decoration: none;
    /*  text-transform: uppercase;  Dùng để viết hoa */
    text-transform: uppercase;
    /*  font-weight: bold; Dùng đẻ thay đổi đường line của chữ */
    font-weight: bold;
    color: #192a56;
}

.btn-login {
    background-color: #ffff;
    border: 1px solid #f26f21;
    padding: 10px 20px;

    font-size: 16px;
    border-radius: 10px;
    color: #f26f21;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #f26f21;
    color: #ffff;
}